<h2>Criar nova postagem</h2>

<form action="/frontController/criarPostagemProcess" method="post">
    <input type="text" name="titulo" placeholder="Título" required><br>
    <input type="text" name="resumo" placeholder="Resumo" required><br>
    <textarea name="conteudo" cols="30" rows="10" required></textarea><br>
    <select name="categoria">
        {{#each categorias}}
        <option value="{{_id}}">{{nome}}</option>
        {{/each}}
    </select><br>
    <button type="submit">Criar postagem</button>
</form>