<h1 style="text-align: center; font-size: 25pt;">{{postagem.titulo}}</h1>

<p style="text-align: center; font-size: 15pt;">{{postagem.resumo}}</p>
<p style="text-align: center; font-size: 10pt;">Publicado em: {{converterData postagem.data}}</p>
<hr>
<div style="width: 80%; margin: 20px auto ">
    <p style="text-align: justify; font-size: 15pt;">{{postagem.conteudo}}</p>
</div>
